Repository shakes76/PatternAnalysis-2023, pull requests merged in 2023-11, with the labels that each got.

#5 Topic-recognition-prostate-segment-3Dunet
  recognition/unet3d_zhangdepeng/README.md
  recognition/unet3d_zhangdepeng/dataset.py
  recognition/unet3d_zhangdepeng/img1.png
  recognition/unet3d_zhangdepeng/metric_dice.png
  recognition/unet3d_zhangdepeng/metric_mse.png
  recognition/unet3d_zhangdepeng/modules.py
  recognition/unet3d_zhangdepeng/predict.py
  recognition/unet3d_zhangdepeng/split_train_test_file.py
  recognition/unet3d_zhangdepeng/test_list.txt
  recognition/unet3d_zhangdepeng/train.py
  recognition/unet3d_zhangdepeng/train_list.txt
  recognition/unet3d_zhangdepeng/train_loss_dice1.png
  recognition/unet3d_zhangdepeng/train_loss_mse1.png
Labels: UNet3D

#7 s4580286
  recognition/s4580286_rcnn/README.md
  recognition/s4580286_rcnn/dataset.py
  recognition/s4580286_rcnn/figures/Boxplot.png
  recognition/s4580286_rcnn/figures/IoU.png
  recognition/s4580286_rcnn/figures/Picture1.png
  recognition/s4580286_rcnn/figures/architecture.png
  recognition/s4580286_rcnn/figures/testvtrain.png
  recognition/s4580286_rcnn/mask_rcnn_main.py
  recognition/s4580286_rcnn/modules.py
  recognition/s4580286_rcnn/predict.py
  recognition/s4580286_rcnn/train.py
Labels: Mask RCNN

#8 Topic recognition - Jarrod Mann COMP3710 s4696612
  recognition/super_resolution_network_s4696612/Comparison.png
  recognition/super_resolution_network_s4696612/README.md
  recognition/super_resolution_network_s4696612/dataset.py
  recognition/super_resolution_network_s4696612/goal_images.png
  recognition/super_resolution_network_s4696612/model_sample.png
  recognition/super_resolution_network_s4696612/modules.py
  recognition/super_resolution_network_s4696612/predict.py
  recognition/super_resolution_network_s4696612/train.py
  recognition/super_resolution_network_s4696612/training_loss.png
  recognition/super_resolution_network_s4696612/utils.py
Labels: Sub-Pixel CNN, Super Resolution

#11 OASIS Stable Diffusion - Alexander Nguyen 46429515
  recognition/46429515_OASIS_brain_SD/README.md
  recognition/46429515_OASIS_brain_SD/dataset.py
  recognition/46429515_OASIS_brain_SD/image_output/epoch_710_step_000_generated.png
  recognition/46429515_OASIS_brain_SD/image_output/epoch_730_step_000_generated.png
  recognition/46429515_OASIS_brain_SD/image_output/epoch_770_step_000_generated.png
  recognition/46429515_OASIS_brain_SD/image_output/epoch_790_step_000_generated.png
  recognition/46429515_OASIS_brain_SD/module.py
  recognition/46429515_OASIS_brain_SD/predict.py
  recognition/46429515_OASIS_brain_SD/predict_image/.DS_Store
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_0.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_1.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_2.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_3.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_4.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_5.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_6.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_7.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_8.png
  recognition/46429515_OASIS_brain_SD/predict_image/input_image_9.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_0.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_1.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_2.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_3.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_4.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_5.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_6.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_7.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_8.png
  recognition/46429515_OASIS_brain_SD/predict_output/generated_image_9.png
  recognition/46429515_OASIS_brain_SD/train.py
  recognition/46429515_OASIS_brain_SD/train_predict.sh
  recognition/46429515_OASIS_brain_SD/util/loss_plot.png
  recognition/46429515_OASIS_brain_SD/utils.py
Labels: Stable Diffusion

#12 GCN Multi-Class Node Classification - s4642798
  recognition/GCN_s4642798/.gitignore
  recognition/GCN_s4642798/README.md
  recognition/GCN_s4642798/dataset.py
  recognition/GCN_s4642798/modules.py
  recognition/GCN_s4642798/plots/gcn_accuracy.png
  recognition/GCN_s4642798/plots/gcn_loss.png
  recognition/GCN_s4642798/plots/tsne_post_train.png
  recognition/GCN_s4642798/predict.py
  recognition/GCN_s4642798/train.py
Labels: GCN

#17 ADNI MRI brain image super-resolution network using sub-pixel CNN
  .gitignore
  recognition/super_resolution_DanielC/README.md
  recognition/super_resolution_DanielC/dataset.py
  recognition/super_resolution_DanielC/modules.py
  recognition/super_resolution_DanielC/predict.py
  recognition/super_resolution_DanielC/readme_resources/ExampleFigure.PNG
  recognition/super_resolution_DanielC/readme_resources/lossgraph.PNG
  recognition/super_resolution_DanielC/readme_resources/newExampleFigure.PNG
  recognition/super_resolution_DanielC/readme_resources/newerExampleFigure.PNG
  recognition/super_resolution_DanielC/readme_resources/placeholder
  recognition/super_resolution_DanielC/train.py
  recognition/super_resolution_DanielC/utils.py
Labels: Sub-Pixel CNN, Super Resolution

#18 Generative Model for OASIS Brain Dataset using VQVAE
  recognition/generative_model_s47425055/.gitkeep
  recognition/generative_model_s47425055/README.md
  recognition/generative_model_s47425055/dataset.py
  recognition/generative_model_s47425055/models6/architecture.png
  recognition/generative_model_s47425055/models6/best_model_sample.png
  recognition/generative_model_s47425055/models6/loss_ssim_plot.png
  recognition/generative_model_s47425055/modules.py
  recognition/generative_model_s47425055/predict.py
  recognition/generative_model_s47425055/repoMain.py
  recognition/generative_model_s47425055/samples6/vqvae_reconstructions_1.png
  recognition/generative_model_s47425055/train.py
Labels: VQVAE

#20 Siamese Network Classifier for Alzheimer's Disease Detection - Kai Barry s4640578
  recognition/Triplet_Network_Alzheimer_46405788/README.md
  recognition/Triplet_Network_Alzheimer_46405788/dataset.py
  recognition/Triplet_Network_Alzheimer_46405788/modules.py
  recognition/Triplet_Network_Alzheimer_46405788/predict.py
  recognition/Triplet_Network_Alzheimer_46405788/test.py
  recognition/Triplet_Network_Alzheimer_46405788/train.ipynb
  recognition/Triplet_Network_Alzheimer_46405788/train.py
Labels: Siamese

#23 VQVAE + DCGAN on OASIS dataset - Gabriel Russell 46407764
  recognition/VQVAE_Gabriel_Russell/README.md
  recognition/VQVAE_Gabriel_Russell/Readme_images/DCGAN_losses.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/GAN_dataloader_examples.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/GAN_generated_Output.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/GAN_generated_codebook_indice.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/GAN_training_EPOCHS.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/Original_OASIS_images.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/SSIM.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/SSIM_comparison.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/VQVAE_codebook_quantized.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/VQVAE_reconstructed_images.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/VQVAE_training_EPOCHS.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/dcgan_model_architecture.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/final_reconstructed_image.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/reconstruction_err_train.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/reconstruction_err_validate.png
  recognition/VQVAE_Gabriel_Russell/Readme_images/vqvae_model_architecture.png
  recognition/VQVAE_Gabriel_Russell/dataset.py
  recognition/VQVAE_Gabriel_Russell/modules.py
  recognition/VQVAE_Gabriel_Russell/predict.py
  recognition/VQVAE_Gabriel_Russell/train.py
  recognition/VQVAE_Gabriel_Russell/train_DCGAN.py
  recognition/VQVAE_Gabriel_Russell/train_VQVAE.py
Labels: VQVAE

#26 Topic recognition
  recognition/46905774_GCN/README.md
  recognition/46905774_GCN/dataset.py
  recognition/46905774_GCN/modules.py
  recognition/46905774_GCN/plot.py
  recognition/46905774_GCN/predict.py
  recognition/46905774_GCN/results_visualization/GCN_module_dia.png
  recognition/46905774_GCN/results_visualization/best_accuracy.png
  recognition/46905774_GCN/results_visualization/gcn_accuracy.png
  recognition/46905774_GCN/results_visualization/gcn_loss.png
  recognition/46905774_GCN/results_visualization/post_train.png
  recognition/46905774_GCN/results_visualization/pre_train.png
  recognition/46905774_GCN/train.py
Labels: GCN

#28 MRI Super-Resolution Network - Mike Smith (46408789)
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/.gitignore
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/README.md
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/dataset.py
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/Example_Inputs_Outputs_1.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/Example_Inputs_Outputs_2.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/SR-DC-Discriminator.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/SR-DC-Generator.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/Training_Loss.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/figures/Variable_LR.png
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/modules.py
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/outputs/out_gan.txt
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/outputs/plot.py
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/predict.py
  recognition/MRI Super-Resolution Network - Mike Smith 46408789/train.py
Labels: Sub-Pixel CNN, Super Resolution

#31 Topic recognition-Shaivika_48239192_VIT Transformer fot ADNI dataset
  recognition/TopicRecognition_Shaivika_48239192/README.md
  recognition/TopicRecognition_Shaivika_48239192/dataset.py
  recognition/TopicRecognition_Shaivika_48239192/modules.py
  recognition/TopicRecognition_Shaivika_48239192/output_images/accuracy.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/actual_vs_prediction.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/fileRunning.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/filesRunning.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/heatmap.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/image.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/model_accuracy.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/model_loss.png
  recognition/TopicRecognition_Shaivika_48239192/output_images/patches.png
  recognition/TopicRecognition_Shaivika_48239192/predict.py
  recognition/TopicRecognition_Shaivika_48239192/train.py
Labels: Transformer

#36 Classifier based on Siamese Network to Classify Alzheimer's Disease on ADNI Dataset - 47571840
  recognition/47571840-Adni-siamese/README.md
  recognition/47571840-Adni-siamese/dataset.py
  recognition/47571840-Adni-siamese/images_for_readme/218391_78_AD.jpeg
  recognition/47571840-Adni-siamese/images_for_readme/808819_88_NC.jpeg
  recognition/47571840-Adni-siamese/images_for_readme/Architecture_final.png
  recognition/47571840-Adni-siamese/images_for_readme/classifier_accuracy_plot_classifier_model_50_30_3.png
  recognition/47571840-Adni-siamese/images_for_readme/classifier_loss_plot_classifier_model_50_30_3.png
  recognition/47571840-Adni-siamese/images_for_readme/siamese_loss_curve_siamese_50.png
  recognition/47571840-Adni-siamese/modules.py
  recognition/47571840-Adni-siamese/predict.py
  recognition/47571840-Adni-siamese/train.py
Labels: Siamese

#37 Topic recognition - MRI Super Resolution Network (Elijah Nelson 46991553)
  recognition/mri-super-resolution-network-46991553/.gitignore
  recognition/mri-super-resolution-network-46991553/README.md
  recognition/mri-super-resolution-network-46991553/config.py
  recognition/mri-super-resolution-network-46991553/dataset.py
  recognition/mri-super-resolution-network-46991553/doc/[1,10][0,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[1,10][1,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[1,10][120,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[1,10][160,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[1,10][40,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[1,10][80,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[10,10][169,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[2,10][120,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[2,10][160,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[2,10][40,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[2,10][80,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/[4,10][160,169]output.png
  recognition/mri-super-resolution-network-46991553/doc/downsampled.png
  recognition/mri-super-resolution-network-46991553/doc/example.png
  recognition/mri-super-resolution-network-46991553/doc/lossplot.png
  recognition/mri-super-resolution-network-46991553/doc/modelvisual.png
  recognition/mri-super-resolution-network-46991553/doc/original-flipped.png
  recognition/mri-super-resolution-network-46991553/doc/original.png
  recognition/mri-super-resolution-network-46991553/doc/upsampled.png
  recognition/mri-super-resolution-network-46991553/generate.py
  recognition/mri-super-resolution-network-46991553/imgs/lossplot.png
  recognition/mri-super-resolution-network-46991553/modules.py
  recognition/mri-super-resolution-network-46991553/predict.py
  recognition/mri-super-resolution-network-46991553/train.py
Labels: Sub-Pixel CNN, Super Resolution

#41 Topic recognition
  recognition/supres-network-47440599/.gitignore
  recognition/supres-network-47440599/README.md
  recognition/supres-network-47440599/dataset.py
  recognition/supres-network-47440599/modules.py
  recognition/supres-network-47440599/predict.py
  recognition/supres-network-47440599/train.py
  recognition/supres-network-47440599/utils.py
Labels: Sub-Pixel CNN, Super Resolution

#43 Topic recognition
  recognition/GCN_46387660/README.md
  recognition/GCN_46387660/dataset.py
  recognition/GCN_46387660/modules.py
  recognition/GCN_46387660/predict.py
  recognition/GCN_46387660/train.py
Labels: GCN

#45 s4640661: Semi-supervised node classification of the Facebook large page-page network dataset
  recognition/facebook-classification-s46406619/README.md
  recognition/facebook-classification-s46406619/dataset.py
  recognition/facebook-classification-s46406619/images/architecture.png
  recognition/facebook-classification-s46406619/images/results.png
  recognition/facebook-classification-s46406619/images/training.png
  recognition/facebook-classification-s46406619/modules.py
  recognition/facebook-classification-s46406619/predict.py
  recognition/facebook-classification-s46406619/run.py
  recognition/facebook-classification-s46406619/train.py
Labels: GCN

#46 Topic recognition
  recognition/YOLO_45296831/README.md
  recognition/YOLO_45296831/ReadmeSupport/F1_curve.png
  recognition/YOLO_45296831/ReadmeSupport/P_curve.png
  recognition/YOLO_45296831/ReadmeSupport/confusion_matrix.png
  recognition/YOLO_45296831/ReadmeSupport/results.png
  recognition/YOLO_45296831/ReadmeSupport/val_batch0_pred.jpg
  recognition/YOLO_45296831/ReadmeSupport/val_batch1_pred.jpg
  recognition/YOLO_45296831/ReadmeSupport/val_batch2_pred.jpg
  recognition/YOLO_45296831/data.yaml
  recognition/YOLO_45296831/dataset.py
  recognition/YOLO_45296831/modules.py
  recognition/YOLO_45296831/slurm.sh
  recognition/YOLO_45296831/train.py
Labels: YOLO

#48 Topic recognition
  recognition/VisionTransformer_s4676080/README.md
  recognition/VisionTransformer_s4676080/dataset.py
  recognition/VisionTransformer_s4676080/figures/accuracy_plot.png
  recognition/VisionTransformer_s4676080/figures/losses_plot.png
  recognition/VisionTransformer_s4676080/figures/model confidence score.png
  recognition/VisionTransformer_s4676080/modules.py
  recognition/VisionTransformer_s4676080/predict.py
  recognition/VisionTransformer_s4676080/train.py
Labels: Transformer

#50 StyleGAN on OASIS data - Zhixuan Li (46148991)
  recognition/styleGAN_s4614899/README.md
  recognition/styleGAN_s4614899/dataset.py
  recognition/styleGAN_s4614899/modules.py
  recognition/styleGAN_s4614899/output_images/generated_grid.png
  recognition/styleGAN_s4614899/output_images/losses_plot.png
  recognition/styleGAN_s4614899/output_images/real_grid.png
  recognition/styleGAN_s4614899/output_images/styleGAN_figure.png
  recognition/styleGAN_s4614899/predict.py
  recognition/styleGAN_s4614899/train.py
Labels: StyleGAN

#52 Alzheimer's Diagnosis Using Visual Transformer s4698290
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/.gitignore
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/README.md
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/dataset.py
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/modules.py
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/predict.py
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/FirstTrainAcc.png
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/FirstTrainLoss.png
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/Screenshot from 2023-10-13 22-47-10.png
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/SecondTrainAcc.png
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/SecondTrainLoss.png
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/altzSample.jpeg
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/readmeImages/normSample.jpeg
  recognition/VisualTransformerAlzheimers_Marc_Mennes_s4698290/train.py
Labels: Transformer

#56 AlzViT (Visual Transformer for Alzheimer's Detection) - Zachary Walls - 46966775
  recognition/AlzViT_46966775/README.md
  recognition/AlzViT_46966775/dataset.py
  recognition/AlzViT_46966775/images/accuracy_time.png
  recognition/AlzViT_46966775/images/batch15_image1.png
  recognition/AlzViT_46966775/images/batch22_image1.png
  recognition/AlzViT_46966775/images/batch83_image1.png
  recognition/AlzViT_46966775/images/loss_time.png
  recognition/AlzViT_46966775/images/model_vit.png
  recognition/AlzViT_46966775/images/predicted_887923_89.jpeg
  recognition/AlzViT_46966775/modules.py
  recognition/AlzViT_46966775/predict.py
  recognition/AlzViT_46966775/requirements.txt
  recognition/AlzViT_46966775/train.py
Labels: Transformer

#59 s4702040 Improved UNet - ISIC 2018 Task 1 Segmentation
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0016911_PredMask.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0016911_segmentation.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0018507_PredMask.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0018507_segmentation.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0023474_PredMask.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/ISIC_0023474_segmentation.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/Improved_UNet_Architecture_Diagram.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/Original_UNet_Architecture_Diagram.png
  recognition/ISIC_2018_ImprovedUNet_s4702040/README.MD
  recognition/ISIC_2018_ImprovedUNet_s4702040/dataset.py
  recognition/ISIC_2018_ImprovedUNet_s4702040/module.py
  recognition/ISIC_2018_ImprovedUNet_s4702040/predict.py
  recognition/ISIC_2018_ImprovedUNet_s4702040/train.py
  recognition/ISIC_2018_ImprovedUNet_s4702040/training_loss_plot.png
Labels: Improved UNet

#60 s4742823 - Task 2 - Facebook GCN
  recognition/GCN_s4742823/.gitignore
  recognition/GCN_s4742823/README.md
  recognition/GCN_s4742823/accuracy.png
  recognition/GCN_s4742823/betterGCNdiagram.png
  recognition/GCN_s4742823/dataset.py
  recognition/GCN_s4742823/gcnDiagram5.png
  recognition/GCN_s4742823/graphConvFigure.png
  recognition/GCN_s4742823/loss.png
  recognition/GCN_s4742823/modules.py
  recognition/GCN_s4742823/predict.py
  recognition/GCN_s4742823/train.py
  recognition/GCN_s4742823/tsne_plot.png
  recognition/GCN_s4742823/utils.py
Labels: GCN

#63 Topic recognition-Siamese network classifier
  recognition/48240639/.DS_Store
  recognition/48240639/Images_Report/10_Test.png
  recognition/48240639/Images_Report/25_Test.png
  recognition/48240639/Images_Report/50_Test.png
  recognition/48240639/Images_Report/AD.jpeg
  recognition/48240639/Images_Report/NC.jpeg
  recognition/48240639/Images_Report/Resnet18.png
  recognition/48240639/Images_Report/Siamese.png
  recognition/48240639/Images_Report/Train_Accuracy_Plot.png
  recognition/48240639/Images_Report/Train_Loss_Plot.png
  recognition/48240639/README.md
  recognition/48240639/dataset.py
  recognition/48240639/modules.py
  recognition/48240639/predict.py
  recognition/48240639/train.py
Labels: Siamese

#70 ESPCN on ADNI Dataset
  recognition/brain_MRI_ESPCN_s4585714/README.md
  recognition/brain_MRI_ESPCN_s4585714/dataset.py
  recognition/brain_MRI_ESPCN_s4585714/modules.py
  recognition/brain_MRI_ESPCN_s4585714/predict.py
  recognition/brain_MRI_ESPCN_s4585714/train.py
Labels: Sub-Pixel CNN, Super Resolution

#71 Topic Recognition - GAN Functionality Integration - s48238690
  recognition/s4823869/README.md
  recognition/s4823869/ReadMe_images/Final_Code_Running_on_Rangpur.png
  recognition/s4823869/ReadMe_images/Final_Generated_Image.png
  recognition/s4823869/ReadMe_images/GAN_Model_explaination_image.png
  recognition/s4823869/ReadMe_images/GAN_model.png
  recognition/s4823869/ReadMe_images/Initial_Code_Run.png
  recognition/s4823869/ReadMe_images/Initial_Input_Image.png
  recognition/s4823869/ReadMe_images/Initial_Output.png
  recognition/s4823869/ReadMe_images/LossPlot.png
  recognition/s4823869/dataset.py
  recognition/s4823869/modules.py
  recognition/s4823869/predict.py
  recognition/s4823869/slurm_script.sh
  recognition/s4823869/train.py
Labels: StyleGAN

#73 Topic recognition
  recognition/project_s4745511/README.md
  recognition/project_s4745511/dataset.py
  recognition/project_s4745511/modules.py
  recognition/project_s4745511/predict.py
  recognition/project_s4745511/train.py
  recognition/project_s4745511/utility.py
Labels: Siamese

#74 Topic recognition
  recognition/DanielPfisterSiameseNetwork/.gitignore
  recognition/DanielPfisterSiameseNetwork/ColabSaimeseNetwork.ipynb
  recognition/DanielPfisterSiameseNetwork/Images/AD.jpeg
  recognition/DanielPfisterSiameseNetwork/Images/AccuracyTrainImage.png
  recognition/DanielPfisterSiameseNetwork/Images/LossTrainImage.png
  recognition/DanielPfisterSiameseNetwork/Images/Model.PNG
  recognition/DanielPfisterSiameseNetwork/Images/NC.jpeg
  recognition/DanielPfisterSiameseNetwork/Images/PlotPrediciton.PNG
  recognition/DanielPfisterSiameseNetwork/Images/SaimeseNetwork.PNG
  recognition/DanielPfisterSiameseNetwork/Images/Test1.PNG
  recognition/DanielPfisterSiameseNetwork/Images/Test2.PNG
  recognition/DanielPfisterSiameseNetwork/Images/Training.PNG
  recognition/DanielPfisterSiameseNetwork/README.md
  recognition/DanielPfisterSiameseNetwork/dataset.py
  recognition/DanielPfisterSiameseNetwork/modules.py
  recognition/DanielPfisterSiameseNetwork/predict.py
  recognition/DanielPfisterSiameseNetwork/train.py
Labels: Siamese

#78 Topic recognition - Yi Zhou's request
  recognition/VQ-VAE-46495408/Images/PixelCNN_Principle.png
  recognition/VQ-VAE-46495408/Images/PixelCNN_Structure.png
  recognition/VQ-VAE-46495408/Images/VQ-VAE_Gradient.png
  recognition/VQ-VAE-46495408/Images/VQ-VAE_Loss.png
  recognition/VQ-VAE-46495408/Images/VQ-VAE_Principle.png
  recognition/VQ-VAE-46495408/Images/VQ-VAE_Structure.png
  recognition/VQ-VAE-46495408/Images/pixel_test_image_1.png
  recognition/VQ-VAE-46495408/Images/pixel_test_image_2.png
  recognition/VQ-VAE-46495408/Images/pixel_test_image_3.png
  recognition/VQ-VAE-46495408/Images/pixelcnn_accuracy.png
  recognition/VQ-VAE-46495408/Images/pixelcnn_loss.png
  recognition/VQ-VAE-46495408/Images/vqvae_test_images.png
  recognition/VQ-VAE-46495408/Images/vqvae_training_loss.png
  recognition/VQ-VAE-46495408/README.md
  recognition/VQ-VAE-46495408/dataset.py
  recognition/VQ-VAE-46495408/modules.py
  recognition/VQ-VAE-46495408/predict.py
  recognition/VQ-VAE-46495408/train.py
Labels: VQVAE

#79 Topic recognition
  topic-recognition/Siamese-network/Approach.png
  topic-recognition/Siamese-network/C_Acc.png
  topic-recognition/Siamese-network/C_Loss.png
  topic-recognition/Siamese-network/README.md
  topic-recognition/Siamese-network/SNN.png
  topic-recognition/Siamese-network/Siamese_Loss_plot.png
  topic-recognition/Siamese-network/dataset.py
  topic-recognition/Siamese-network/modules.py
  topic-recognition/Siamese-network/predict.py
  topic-recognition/Siamese-network/train.py
Labels: Siamese

#80 OASIS brain StyleGAN
  recognition/OASIS brain StyleGAN - 44829531/README.md
  recognition/OASIS brain StyleGAN - 44829531/dataset.py
  recognition/OASIS brain StyleGAN - 44829531/images/0_50_100.png
  recognition/OASIS brain StyleGAN - 44829531/images/98_99_100.png
  recognition/OASIS brain StyleGAN - 44829531/images/AdaIN.png
  recognition/OASIS brain StyleGAN - 44829531/images/GAN.png
  recognition/OASIS brain StyleGAN - 44829531/images/Mapping.png
  recognition/OASIS brain StyleGAN - 44829531/images/Mixing.png
  recognition/OASIS brain StyleGAN - 44829531/images/Noise.png
  recognition/OASIS brain StyleGAN - 44829531/images/StyleGAN.png
  recognition/OASIS brain StyleGAN - 44829531/images/loss_plot.png
  recognition/OASIS brain StyleGAN - 44829531/modules.py
  recognition/OASIS brain StyleGAN - 44829531/predict.py
  recognition/OASIS brain StyleGAN - 44829531/train.py
  recognition/OASIS brain StyleGAN - 44829531/util.py
Labels: StyleGAN

#82 s47029172 - ViT Classification of ADNI dataset
  recognition/ViT-Classifier-s4702917/.gitignore
  recognition/ViT-Classifier-s4702917/README.md
  recognition/ViT-Classifier-s4702917/dataset.py
  recognition/ViT-Classifier-s4702917/images/run_5_example_classification.png
  recognition/ViT-Classifier-s4702917/images/training_loss.png
  recognition/ViT-Classifier-s4702917/images/validation_accuracy.png
  recognition/ViT-Classifier-s4702917/modules.py
  recognition/ViT-Classifier-s4702917/plotting.py
  recognition/ViT-Classifier-s4702917/predict.py
  recognition/ViT-Classifier-s4702917/slurm_test_vit.sh
  recognition/ViT-Classifier-s4702917/slurm_train_vit.sh
  recognition/ViT-Classifier-s4702917/train.py
Labels: Transformer

#85 Topic recognition
  recognition/VQVAE_s4580997/.gitignore
  recognition/VQVAE_s4580997/README.md
  recognition/VQVAE_s4580997/dataset.py
  recognition/VQVAE_s4580997/images/background/dcgan.png:Zone.Identifier
  recognition/VQVAE_s4580997/images/background/gan_architecture.png
  recognition/VQVAE_s4580997/images/background/vqvae_architecture.png
  recognition/VQVAE_s4580997/images/background/vqvae_architecture.png:Zone.Identifier
  recognition/VQVAE_s4580997/images/gan/epoch_0.png
  recognition/VQVAE_s4580997/images/gan/epoch_10.png
  recognition/VQVAE_s4580997/images/gan/epoch_12.png
  recognition/VQVAE_s4580997/images/gan/epoch_14.png
  recognition/VQVAE_s4580997/images/gan/epoch_16.png
  recognition/VQVAE_s4580997/images/gan/epoch_18.png
  recognition/VQVAE_s4580997/images/gan/epoch_2.png
  recognition/VQVAE_s4580997/images/gan/epoch_20.png
  recognition/VQVAE_s4580997/images/gan/epoch_22.png
  recognition/VQVAE_s4580997/images/gan/epoch_24.png
  recognition/VQVAE_s4580997/images/gan/epoch_26.png
  recognition/VQVAE_s4580997/images/gan/epoch_28.png
  recognition/VQVAE_s4580997/images/gan/epoch_30.png
  recognition/VQVAE_s4580997/images/gan/epoch_32.png
  recognition/VQVAE_s4580997/images/gan/epoch_34.png
  recognition/VQVAE_s4580997/images/gan/epoch_36.png
  recognition/VQVAE_s4580997/images/gan/epoch_38.png
  recognition/VQVAE_s4580997/images/gan/epoch_4.png
  recognition/VQVAE_s4580997/images/gan/epoch_40.png
  recognition/VQVAE_s4580997/images/gan/epoch_42.png
  recognition/VQVAE_s4580997/images/gan/epoch_44.png
  recognition/VQVAE_s4580997/images/gan/epoch_46.png
  recognition/VQVAE_s4580997/images/gan/epoch_48.png
  recognition/VQVAE_s4580997/images/gan/epoch_6.png
  recognition/VQVAE_s4580997/images/gan/epoch_8.png
  recognition/VQVAE_s4580997/images/results/gan_train_loss.png
  recognition/VQVAE_s4580997/images/results/generated_gan.png
  recognition/VQVAE_s4580997/images/results/generated_vqvae.png
  recognition/VQVAE_s4580997/images/results/test_real.jpeg
  recognition/VQVAE_s4580997/images/results/validation_vqvae.png
  recognition/VQVAE_s4580997/images/results/vqvae_train_loss.png
  recognition/VQVAE_s4580997/main.py
  recognition/VQVAE_s4580997/modules.py
  recognition/VQVAE_s4580997/predict.py
  recognition/VQVAE_s4580997/train.py
  recognition/VQVAE_s4580997/utils.py
Labels: VQVAE

#88 Topic recognition
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/LOSS_TRAIN.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/LOSS_VAL.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/PCNN.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/VQVAE.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/arb1.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/arb2.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/arb3.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/arb4.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/arb5.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/loss.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/Images/marks.png
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/README.md
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/dataset.py
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/modules.py
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/predict.py
  recognition/GENERATIVE_VQVAE_ADNI_BRAIN_47431748/train.py
Labels: VQVAE

#91 Topic recognition
  recognition/Improved_UNet_s4825879/README.md
  recognition/Improved_UNet_s4825879/dataset.py
  recognition/Improved_UNet_s4825879/images/individual_dsc.png
  recognition/Improved_UNet_s4825879/images/model_arcitecture.png
  recognition/Improved_UNet_s4825879/images/segmentation_example_1.png
  recognition/Improved_UNet_s4825879/modules.py
  recognition/Improved_UNet_s4825879/predict.py
  recognition/Improved_UNet_s4825879/train.py
  recognition/Improved_UNet_s4825879/utils.py
Labels: Improved UNet

#96 Add ADNI dataset Siamese network/classifier model
  recognition/46991030-ADNI-siamese/.gitignore
  recognition/46991030-ADNI-siamese/README.md
  recognition/46991030-ADNI-siamese/constants.py
  recognition/46991030-ADNI-siamese/dataset.py
  recognition/46991030-ADNI-siamese/graphs/classification.png
  recognition/46991030-ADNI-siamese/graphs/classifier-accuracy.png
  recognition/46991030-ADNI-siamese/graphs/classifier-loss.png
  recognition/46991030-ADNI-siamese/graphs/similarity.png
  recognition/46991030-ADNI-siamese/graphs/snn-accuracy.png
  recognition/46991030-ADNI-siamese/graphs/snn-loss.png
  recognition/46991030-ADNI-siamese/images/236920_80.jpeg
  recognition/46991030-ADNI-siamese/images/classifier_architecture.png
  recognition/46991030-ADNI-siamese/images/siamese_architecture.png
  recognition/46991030-ADNI-siamese/modules.py
  recognition/46991030-ADNI-siamese/predict.py
  recognition/46991030-ADNI-siamese/train.py
  recognition/46991030-ADNI-siamese/utils.py
Labels: Siamese

#97 ISIC2018_segmentation-s4824208
  recognition/ISIC_UNet/README.md
  recognition/ISIC_UNet/Report_img/Improved_UNet.png
  recognition/ISIC_UNet/Report_img/Input_early.png
  recognition/ISIC_UNet/Report_img/dice_plot.png
  recognition/ISIC_UNet/Report_img/early_train.png
  recognition/ISIC_UNet/Report_img/late_train.png
  recognition/ISIC_UNet/Report_img/mean_loss.png
  recognition/ISIC_UNet/Report_img/output_early2.png
  recognition/ISIC_UNet/dataset.py
  recognition/ISIC_UNet/modules.py
  recognition/ISIC_UNet/predict.py
  recognition/ISIC_UNet/train.py
  recognition/ISIC_UNet/utils.py
Labels: Improved UNet

#98 [Topic Recognition]: ESPCN for Super-Resolution
  recognition/superres_46501635/README.md
  recognition/superres_46501635/dataset.py
  recognition/superres_46501635/flow.png
  recognition/superres_46501635/modules.py
  recognition/superres_46501635/outputimg.png
  recognition/superres_46501635/plots.png
  recognition/superres_46501635/predict.py
  recognition/superres_46501635/subpix.png
  recognition/superres_46501635/train.py
Labels: Sub-Pixel CNN, Super Resolution

#99 Task 1 - Improved UNET - William Cruickshank s46970222
  recognition/UNET-image-segnementation-William-cruickshank/Model.PNG
  recognition/UNET-image-segnementation-William-cruickshank/README.md
  recognition/UNET-image-segnementation-William-cruickshank/dataset.py
  recognition/UNET-image-segnementation-William-cruickshank/dice_vs_epoch.png
  recognition/UNET-image-segnementation-William-cruickshank/loss_vs_epoch.png
  recognition/UNET-image-segnementation-William-cruickshank/modules.py
  recognition/UNET-image-segnementation-William-cruickshank/predict.py
  recognition/UNET-image-segnementation-William-cruickshank/saved_test_images/0.png
  recognition/UNET-image-segnementation-William-cruickshank/saved_test_images/pred_0.png
  recognition/UNET-image-segnementation-William-cruickshank/train.py
  recognition/UNET-image-segnementation-William-cruickshank/utils.py
Labels: Improved UNet

#100 Topic recognition: Siamese model classifier ADNI dataset
  recognition/Siamese_46419712/.gitignore
  recognition/Siamese_46419712/Future_result/siamese_loss_plot_resnet18.png
  recognition/Siamese_46419712/README.md
  recognition/Siamese_46419712/dataset.py
  recognition/Siamese_46419712/modules.py
  recognition/Siamese_46419712/predict.py
  recognition/Siamese_46419712/research_image/Binary_classifier_model.png
  recognition/Siamese_46419712/research_image/ContrastiveLossFunction.png
  recognition/Siamese_46419712/research_image/Siamese_oneshot.png
  recognition/Siamese_46419712/research_image/Siamese_overall_structure.png
  recognition/Siamese_46419712/result/Accuracy_plot.png
  recognition/Siamese_46419712/result/classifier_loss_plot.png
  recognition/Siamese_46419712/result/predict_result.png
  recognition/Siamese_46419712/result/siamese_loss_plot.png
  recognition/Siamese_46419712/result/test_out.txt
  recognition/Siamese_46419712/result/tsne_test.png
  recognition/Siamese_46419712/result/tsne_train.png
  recognition/Siamese_46419712/result/tsne_validate.png
  recognition/Siamese_46419712/train.py
  recognition/Siamese_46419712/utils.py
Labels: Siamese

#102 s4583670 Vision Transformer for Alzheimer's Classification
  recognition/s4583670_ViT/README.md
  recognition/s4583670_ViT/dataset.py
  recognition/s4583670_ViT/images/AD_Example.jpeg
  recognition/s4583670_ViT/images/NC_Example.jpeg
  recognition/s4583670_ViT/images/ViT-architecture.png
  recognition/s4583670_ViT/images/Vision_Transformer.gif
  recognition/s4583670_ViT/images/accuracy2.png
  recognition/s4583670_ViT/images/accuracy4.png
  recognition/s4583670_ViT/images/accuracy5.png
  recognition/s4583670_ViT/images/brains-after-processing.png
  recognition/s4583670_ViT/images/losses1.png
  recognition/s4583670_ViT/images/losses2.png
  recognition/s4583670_ViT/images/losses3.png
  recognition/s4583670_ViT/images/losses4.png
  recognition/s4583670_ViT/images/losses5.png
  recognition/s4583670_ViT/images/predict_batch.png
  recognition/s4583670_ViT/images/report-flowchart.drawio.png
  recognition/s4583670_ViT/images/test_accuracy5.png
  recognition/s4583670_ViT/modules.py
  recognition/s4583670_ViT/predict.py
  recognition/s4583670_ViT/train.py
  recognition/s4583670_ViT/utils.py
Labels: Transformer

#105 s4702860 ADNI Siamese Classifier
  recognition/ADNI-s4702860/Figures/Classification_Accuracy.png
  recognition/ADNI-s4702860/Figures/UMAP_AFTER.png
  recognition/ADNI-s4702860/Figures/UMAP_BEFORE.png
  recognition/ADNI-s4702860/Figures/snn.htm
  recognition/ADNI-s4702860/Figures/snn.png
  recognition/ADNI-s4702860/Figures/training_loss.png
  recognition/ADNI-s4702860/Figures/validation_loss.png
  recognition/ADNI-s4702860/README.md
  recognition/ADNI-s4702860/dataset.py
  recognition/ADNI-s4702860/modules.py
  recognition/ADNI-s4702860/predict.py
  recognition/ADNI-s4702860/train.py
Labels: Siamese

#109 Segmenting ISIC2018 with Improved Unet
  recognition/Improved_Unet_s4536573/README.md
  recognition/Improved_Unet_s4536573/dataset.py
  recognition/Improved_Unet_s4536573/modules.py
  recognition/Improved_Unet_s4536573/not important
  recognition/Improved_Unet_s4536573/predict.py
  recognition/Improved_Unet_s4536573/train.py
  recognition/Project/images/1-15.PNG
  recognition/Project/images/16-30+time.PNG
  recognition/Project/images/DiceCurve.png
  recognition/Project/images/Improved_Unet_Architecture.png
  recognition/Project/images/LossCurve.png
  recognition/Project/images/ezgif.com-gif-maker.gif
  recognition/Project/images/placeholder
  recognition/Project/images/result.PNG
Labels: Improved UNet

#112 Topic recognition
  recognition/s4428306_UNET/IUNetArchitecture.png
  recognition/s4428306_UNET/README.MD
  recognition/s4428306_UNET/accuracy_plot.png
  recognition/s4428306_UNET/dataset.py
  recognition/s4428306_UNET/example1_image.png
  recognition/s4428306_UNET/example1_mask.png
  recognition/s4428306_UNET/example1_pred.png
  recognition/s4428306_UNET/example2_image.png
  recognition/s4428306_UNET/example2_mask.png
  recognition/s4428306_UNET/example2_pred.png
  recognition/s4428306_UNET/loss_plot.png
  recognition/s4428306_UNET/modules.py
  recognition/s4428306_UNET/predict.py
  recognition/s4428306_UNET/test_driver.py
  recognition/s4428306_UNET/train.py
Labels: Improved UNet

#113 Task 6: Swin Transformer Alzheimer's Classification by Tarushi Gera (ID: 48242204)
  recognition/TarushiGera(48242204)ADNI/README.md
  recognition/TarushiGera(48242204)ADNI/config.yaml
  recognition/TarushiGera(48242204)ADNI/dataset.py
  recognition/TarushiGera(48242204)ADNI/images/crop_image.png
  recognition/TarushiGera(48242204)ADNI/images/example_input.png
  recognition/TarushiGera(48242204)ADNI/images/gaussian_blur.png
  recognition/TarushiGera(48242204)ADNI/images/swin_transformer.png
  recognition/TarushiGera(48242204)ADNI/modules.py
  recognition/TarushiGera(48242204)ADNI/predict.py
  recognition/TarushiGera(48242204)ADNI/results/accuracy_plot.png
  recognition/TarushiGera(48242204)ADNI/results/cm_plot.png
  recognition/TarushiGera(48242204)ADNI/results/loss_plot.png
  recognition/TarushiGera(48242204)ADNI/train.py
Labels: Transformer

#114 Improved UNET Segmentation Task on the ISIC 2018 Dataset
  recognition/ISIC_UNET_S45857139/README.md
  recognition/ISIC_UNET_S45857139/dataset.py
  recognition/ISIC_UNET_S45857139/images/prediction.png
  recognition/ISIC_UNET_S45857139/images/results.png
  recognition/ISIC_UNET_S45857139/modules.py
  recognition/ISIC_UNET_S45857139/predict.py
  recognition/ISIC_UNET_S45857139/train.py
Labels: Improved UNet

#115 Identification of Alzheimer's Disease in Brain Scans Using a Siamese Neural Network
  recognition/Siamese_46417259/.gitignore
  recognition/Siamese_46417259/BSD_new.txt
  recognition/Siamese_46417259/CONSTANTS.py
  recognition/Siamese_46417259/README.md
  recognition/Siamese_46417259/assets/Classifier_Accuracy_after_20_epochs.png
  recognition/Siamese_46417259/assets/Classifier_diagram.png
  recognition/Siamese_46417259/assets/Classifier_loss_after_20_epochs.png
  recognition/Siamese_46417259/assets/Embedding_network_diagram.png
  recognition/Siamese_46417259/assets/Predictions.png
  recognition/Siamese_46417259/assets/Siamese_diagram.png
  recognition/Siamese_46417259/assets/Siamese_loss_after_15_epochs.png
  recognition/Siamese_46417259/assets/data_for_mlp.png
  recognition/Siamese_46417259/assets/data_for_siamese.png
  recognition/Siamese_46417259/dataset.py
  recognition/Siamese_46417259/modules.py
  recognition/Siamese_46417259/predict.py
  recognition/Siamese_46417259/train.py
  recognition/Siamese_46417259/utils.py
Labels: Siamese

#119 Siamese Network + Classifier for the ADNI Brain Dataset - Shusheng Cao 46050021
  recognition/Siamese_classifier_shusheng_cao/README.MD
  recognition/Siamese_classifier_shusheng_cao/dataset.py
  recognition/Siamese_classifier_shusheng_cao/images/AD_example.jpeg
  recognition/Siamese_classifier_shusheng_cao/images/NC_example.jpeg
  recognition/Siamese_classifier_shusheng_cao/images/classifierArchitecture.drawio.png
  recognition/Siamese_classifier_shusheng_cao/images/classifier_accuracy_over_epochs.png
  recognition/Siamese_classifier_shusheng_cao/images/classifier_loss_over_epoch.png
  recognition/Siamese_classifier_shusheng_cao/images/modelArchitecture.drawio.png
  recognition/Siamese_classifier_shusheng_cao/images/siamese_network_accuracy.png
  recognition/Siamese_classifier_shusheng_cao/images/siamese_network_loss.png
  recognition/Siamese_classifier_shusheng_cao/modules.py
  recognition/Siamese_classifier_shusheng_cao/predict.py
  recognition/Siamese_classifier_shusheng_cao/train.py
Labels: Siamese

#120 46684033 pull request COMP3710
  recognition/46684033-Siamese network/README.md
  recognition/46684033-Siamese network/dataset.py
  recognition/46684033-Siamese network/images_for_README/1.5_training_1.png
  recognition/46684033-Siamese network/images_for_README/1.5_training_25.png
  recognition/46684033-Siamese network/images_for_README/1.5_validation_1.png
  recognition/46684033-Siamese network/images_for_README/1.5_validation_25.png
  recognition/46684033-Siamese network/images_for_README/218391_78.jpeg
  recognition/46684033-Siamese network/images_for_README/Accuracy_plot.png
  recognition/46684033-Siamese network/images_for_README/CNN.png
  recognition/46684033-Siamese network/images_for_README/SNN.png
  recognition/46684033-Siamese network/images_for_README/img.png
  recognition/46684033-Siamese network/images_for_README/img_1.png
  recognition/46684033-Siamese network/images_for_README/img_2.png
  recognition/46684033-Siamese network/images_for_README/loss_plot.png
  recognition/46684033-Siamese network/images_for_README/loss_plot_classifier.png
  recognition/46684033-Siamese network/images_for_README/loss_plot_epoch_65.png
  recognition/46684033-Siamese network/images_for_README/test_acc.png
  recognition/46684033-Siamese network/images_for_README/training_loss.png
  recognition/46684033-Siamese network/modules.py
  recognition/46684033-Siamese network/predict.py
  recognition/46684033-Siamese network/train.py
Labels: Siamese

#123 Topic recognition
  recognition/Siamese_45330212/README.md
  recognition/Siamese_45330212/README_Images/image-1.png
  recognition/Siamese_45330212/README_Images/image-2.png
  recognition/Siamese_45330212/README_Images/image-3.png
  recognition/Siamese_45330212/README_Images/image-4.png
  recognition/Siamese_45330212/README_Images/image-5.png
  recognition/Siamese_45330212/dataset.py
  recognition/Siamese_45330212/modules.py
  recognition/Siamese_45330212/predict.py
  recognition/Siamese_45330212/train.py
Labels: Siamese

#124 Topic recognition
  recognition/Siamese-ADNI-46420763/README.md
  recognition/Siamese-ADNI-46420763/dataset.py
  recognition/Siamese-ADNI-46420763/images/ADADNC.png
  recognition/Siamese-ADNI-46420763/images/Embedder.PNG
  recognition/Siamese-ADNI-46420763/images/NCNCAD.png
  recognition/Siamese-ADNI-46420763/images/Siamese-Architecture.PNG
  recognition/Siamese-ADNI-46420763/images/SiameseNetworkEmbedderStructure.png
  recognition/Siamese-ADNI-46420763/images/acc.png
  recognition/Siamese-ADNI-46420763/images/feature_space.PNG
  recognition/Siamese-ADNI-46420763/images/input_examples.png
  recognition/Siamese-ADNI-46420763/images/loss.png
  recognition/Siamese-ADNI-46420763/images/oneshotprediction.PNG
  recognition/Siamese-ADNI-46420763/images/prediction-1.png
  recognition/Siamese-ADNI-46420763/images/prediction-2.png
  recognition/Siamese-ADNI-46420763/images/prediction-3.png
  recognition/Siamese-ADNI-46420763/images/test_acc.PNG
  recognition/Siamese-ADNI-46420763/modules.py
  recognition/Siamese-ADNI-46420763/predict.py
  recognition/Siamese-ADNI-46420763/train.py
Labels: Siamese

#125 Diffusion Model on the OASIS Brain Dataset
  recognition/Stable_Diffusion_s4682728/README.md
  recognition/Stable_Diffusion_s4682728/dataset.py
  recognition/Stable_Diffusion_s4682728/driver.py
  recognition/Stable_Diffusion_s4682728/images/architecture.png
  recognition/Stable_Diffusion_s4682728/images/image_grid.png
  recognition/Stable_Diffusion_s4682728/images/training_loss.png
  recognition/Stable_Diffusion_s4682728/images/unet.png
  recognition/Stable_Diffusion_s4682728/imports.py
  recognition/Stable_Diffusion_s4682728/modules.py
  recognition/Stable_Diffusion_s4682728/predict.py
  recognition/Stable_Diffusion_s4682728/train.py
  recognition/Stable_Diffusion_s4682728/utils.py
Labels: Stable Diffusion

#133 VQ-VAE + GAN for OASIS brain image generation
  recognition/oasis-brain-vqvae-s4581368/README.md
  recognition/oasis-brain-vqvae-s4581368/constants.py
  recognition/oasis-brain-vqvae-s4581368/dataset.py
  recognition/oasis-brain-vqvae-s4581368/driver.py
  recognition/oasis-brain-vqvae-s4581368/images/better_img_zoomed.png
  recognition/oasis-brain-vqvae-s4581368/images/gan_architecture.jpg
  recognition/oasis-brain-vqvae-s4581368/images/generated.png
  recognition/oasis-brain-vqvae-s4581368/images/higher_qual_zoomed.png
  recognition/oasis-brain-vqvae-s4581368/images/images-0009.png
  recognition/oasis-brain-vqvae-s4581368/images/images-0015.png
  recognition/oasis-brain-vqvae-s4581368/images/loss_eq.png
  recognition/oasis-brain-vqvae-s4581368/images/novel_brains.png
  recognition/oasis-brain-vqvae-s4581368/images/quantized_sample.png
  recognition/oasis-brain-vqvae-s4581368/images/reconstruction_error_training.png
  recognition/oasis-brain-vqvae-s4581368/images/start_training.png
  recognition/oasis-brain-vqvae-s4581368/images/training_set.png
  recognition/oasis-brain-vqvae-s4581368/images/training_ssims.png
  recognition/oasis-brain-vqvae-s4581368/images/vqvae-architecture.png
  recognition/oasis-brain-vqvae-s4581368/modules.py
  recognition/oasis-brain-vqvae-s4581368/predict.py
  recognition/oasis-brain-vqvae-s4581368/train.py
Labels: VQVAE

#140 Topic recognition - Improved UNet
  recognition/s45574539_Improved-UNet/IMG/ISIC_0000000.jpg
  recognition/s45574539_Improved-UNet/IMG/ISIC_0000000_segmentation.png
  recognition/s45574539_Improved-UNet/IMG/dice_similarity.png
  recognition/s45574539_Improved-UNet/IMG/improvedUnetModel.png
  recognition/s45574539_Improved-UNet/README.md
  recognition/s45574539_Improved-UNet/dataset.py
  recognition/s45574539_Improved-UNet/modules.py
  recognition/s45574539_Improved-UNet/predict.py
  recognition/s45574539_Improved-UNet/train.py
Labels: Improved UNet

#151 Generative VQ-VAE model for OASIS dataset
  recognition/s4583766_vqvae/.gitignore
  recognition/s4583766_vqvae/README.md
  recognition/s4583766_vqvae/dataset.py
  recognition/s4583766_vqvae/environment.yml
  recognition/s4583766_vqvae/modules.py
  recognition/s4583766_vqvae/predict.py
  recognition/s4583766_vqvae/resources/codebook.png
  recognition/s4583766_vqvae/resources/codebook_comparison.png
  recognition/s4583766_vqvae/resources/dcgan-architecture.png
  recognition/s4583766_vqvae/resources/decoded.png
  recognition/s4583766_vqvae/resources/test_vqvae/best_recon.png
  recognition/s4583766_vqvae/resources/test_vqvae/best_recon_before.png
  recognition/s4583766_vqvae/resources/test_vqvae/out.txt
  recognition/s4583766_vqvae/resources/test_vqvae/test_ssim_scores.png
  recognition/s4583766_vqvae/resources/test_vqvae/worst_recon.png
  recognition/s4583766_vqvae/resources/test_vqvae/worst_recon_before.png
  recognition/s4583766_vqvae/resources/train_vqvae/epoch_0.png
  recognition/s4583766_vqvae/resources/train_vqvae/epoch_0_single.png
  recognition/s4583766_vqvae/resources/train_vqvae/epoch_12.png
  recognition/s4583766_vqvae/resources/train_vqvae/epoch_12_single.png
  recognition/s4583766_vqvae/resources/train_vqvae/epoch_1_single.png
  recognition/s4583766_vqvae/resources/train_vqvae/gan_epoch_0.png
  recognition/s4583766_vqvae/resources/train_vqvae/gan_epoch_1.png
  recognition/s4583766_vqvae/resources/train_vqvae/gan_epoch_2.png
  recognition/s4583766_vqvae/resources/train_vqvae/gan_losses.png
  recognition/s4583766_vqvae/resources/train_vqvae/train_recon_losses.png
  recognition/s4583766_vqvae/resources/train_vqvae/train_ssim_scores.png
  recognition/s4583766_vqvae/resources/vqvae-architecture.png
  recognition/s4583766_vqvae/resources/vqvae-loss.png
  recognition/s4583766_vqvae/train.py
Labels: VQVAE

#153 Topic recognition Pull Request - Siamese s4697173
  recognition/Siamese-s46971733/Images/ADNC.png
  recognition/Siamese-s46971733/Images/PredictOutput.png
  recognition/Siamese-s46971733/Images/TripletLossTraining.png
  recognition/Siamese-s46971733/Images/data_plot_25Epoch.png
  recognition/Siamese-s46971733/Images/data_plot_30Epocha100.png
  recognition/Siamese-s46971733/Images/img.png
  recognition/Siamese-s46971733/README.md
  recognition/Siamese-s46971733/dataset.py
  recognition/Siamese-s46971733/modules.py
  recognition/Siamese-s46971733/predict.py
  recognition/Siamese-s46971733/train.py
Labels: Siamese

#154 Topic recognition - Charles Gore s4436638
  recognition/pixelCNN-s4436638/.gitignore
  recognition/pixelCNN-s4436638/README.md
  recognition/pixelCNN-s4436638/dataset.py
  recognition/pixelCNN-s4436638/modules.py
  recognition/pixelCNN-s4436638/predict.py
  recognition/pixelCNN-s4436638/train.py
Labels: Sub-Pixel CNN, Super Resolution

#156 46676207 - VQ-VAE-2 for OASIS brain dataset
  recognition/vqvae-46676207/.gitignore
  recognition/vqvae-46676207/README.MD
  recognition/vqvae-46676207/checkpoint/.gitignore
  recognition/vqvae-46676207/dataset.py
  recognition/vqvae-46676207/modules.py
  recognition/vqvae-46676207/predict.py
  recognition/vqvae-46676207/predict/.gitignore
  recognition/vqvae-46676207/readme_assets/gen_00008.png
  recognition/vqvae-46676207/readme_assets/oasis_sample.png
  recognition/vqvae-46676207/readme_assets/pixelsnail_arch.png
  recognition/vqvae-46676207/readme_assets/pixelsnail_blocks.png
  recognition/vqvae-46676207/readme_assets/pixelsnail_loss_curve.png
  recognition/vqvae-46676207/readme_assets/rec_00010.png
  recognition/vqvae-46676207/readme_assets/vqvae2_arch.png
  recognition/vqvae-46676207/readme_assets/vqvae_loss_curve.png
  recognition/vqvae-46676207/sample/.gitignore
  recognition/vqvae-46676207/train.py
Labels: VQVAE

#162 ADNI brain classification with Vision Transformer
  recognition/vision-transformer-4696689/README.md
  recognition/vision-transformer-4696689/dataset.py
  recognition/vision-transformer-4696689/extra/ViT.png
  recognition/vision-transformer-4696689/extra/acc.png
  recognition/vision-transformer-4696689/extra/conv-block.py
  recognition/vision-transformer-4696689/extra/loss.png
  recognition/vision-transformer-4696689/extra/parameters.txt
  recognition/vision-transformer-4696689/extra/train.png
  recognition/vision-transformer-4696689/modules.py
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/dataloader_torch-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/dataset-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/dataset3d-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/datasetconv-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/matplots-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/model-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/.ipynb_checkpoints/train-checkpoint.ipynb
  recognition/vision-transformer-4696689/old/conv
  recognition/vision-transformer-4696689/old/dataloader_torch.ipynb
  recognition/vision-transformer-4696689/old/dataset.ipynb
  recognition/vision-transformer-4696689/old/dataset3d.ipynb
  recognition/vision-transformer-4696689/old/datasetconv.ipynb
  recognition/vision-transformer-4696689/old/matplots.ipynb
  recognition/vision-transformer-4696689/old/model.ipynb
  recognition/vision-transformer-4696689/old/model.py
  recognition/vision-transformer-4696689/old/model2 output
  recognition/vision-transformer-4696689/old/model3d.py
  recognition/vision-transformer-4696689/old/output 2 epochs, lr=1e-4
  recognition/vision-transformer-4696689/old/train.ipynb
  recognition/vision-transformer-4696689/predict.py
  recognition/vision-transformer-4696689/train.py
Labels: Transformer

#158 Topic recognition
  recognition/arshia-44822961-UNET/README.md
  recognition/arshia-44822961-UNET/dataset.py
  recognition/arshia-44822961-UNET/modules.py
  recognition/arshia-44822961-UNET/predict.py
  recognition/arshia-44822961-UNET/readme-assets/SAMPLE INPUT.png
  recognition/arshia-44822961-UNET/readme-assets/Screen Shot 2023-10-23 at 11.24.58 pm.png
  recognition/arshia-44822961-UNET/readme-assets/loss_final_final.png
  recognition/arshia-44822961-UNET/readme-assets/test outputs.png
  recognition/arshia-44822961-UNET/readme-assets/test plot.png
  recognition/arshia-44822961-UNET/train.py
Labels: Improved UNet, Extension

#166 Classifying ADNI Brain Data for Alzheimer's Using Vision Transformer
  recognition/DontForgetAlzheimers/LOSS.png
  recognition/DontForgetAlzheimers/README.md
  recognition/DontForgetAlzheimers/Screenshot 2023-10-26 at 3.52.47 AM.png
  recognition/DontForgetAlzheimers/dataset.py
  recognition/DontForgetAlzheimers/modules.py
  recognition/DontForgetAlzheimers/predict.py
  recognition/DontForgetAlzheimers/train.py
Labels: Transformer, Extension

#167 Siamese Network(Task 7) s4636418 Yicheng Jia
  recognition/Siamese Network_Yicheng Jia/Images/AD_example.jpeg
  recognition/Siamese Network_Yicheng Jia/Images/NC_example.jpeg
  recognition/Siamese Network_Yicheng Jia/Images/acc.png
  recognition/Siamese Network_Yicheng Jia/Images/classifier.jpg
  recognition/Siamese Network_Yicheng Jia/Images/loss.png
  recognition/Siamese Network_Yicheng Jia/Images/predict.png
  recognition/Siamese Network_Yicheng Jia/Images/test_acc.png
  recognition/Siamese Network_Yicheng Jia/Images/test_loss.png
  recognition/Siamese Network_Yicheng Jia/Images/testacc.png
  recognition/Siamese Network_Yicheng Jia/Images/testloss.png
  recognition/Siamese Network_Yicheng Jia/Images/train_acc.png
  recognition/Siamese Network_Yicheng Jia/Images/train_loss.png
  recognition/Siamese Network_Yicheng Jia/Images/trainacc.png
  recognition/Siamese Network_Yicheng Jia/Images/trainloss.png
  recognition/Siamese Network_Yicheng Jia/Images/val_acc.png
  recognition/Siamese Network_Yicheng Jia/Images/val_loss.png
  recognition/Siamese Network_Yicheng Jia/Images/valacc.png
  recognition/Siamese Network_Yicheng Jia/Images/valloss.png
  recognition/Siamese Network_Yicheng Jia/dataset.py
  recognition/Siamese Network_Yicheng Jia/modules.py
  recognition/Siamese Network_Yicheng Jia/predict.py
  recognition/Siamese Network_Yicheng Jia/readme.md
  recognition/Siamese Network_Yicheng Jia/train.py
Labels: Siamese, Extension

#173 VQVAE (OASIS dataset) - s4594975
  recognition/VQVAE_s4594975/README.md
  recognition/VQVAE_s4594975/dataset.py
  recognition/VQVAE_s4594975/modules.py
  recognition/VQVAE_s4594975/predict.py
  recognition/VQVAE_s4594975/train.py
Labels: VQVAE, Extension

#174 s4744924: Markus Zuegg Vision Transformer in Pytorch_lightning
  recognition/MarkusZuegg_Transformer/.gitignore
  recognition/MarkusZuegg_Transformer/README.md
  recognition/MarkusZuegg_Transformer/ViT_PytorchLightning/Sb_run_ViT.sh
  recognition/MarkusZuegg_Transformer/ViT_PytorchLightning/dataset.py
  recognition/MarkusZuegg_Transformer/ViT_PytorchLightning/modules.py
  recognition/MarkusZuegg_Transformer/ViT_PytorchLightning/predict.py
  recognition/MarkusZuegg_Transformer/ViT_PytorchLightning/train.py
  recognition/MarkusZuegg_Transformer/readme_imgs/1191372_105.jpeg
  recognition/MarkusZuegg_Transformer/readme_imgs/392586_95.jpeg
  recognition/MarkusZuegg_Transformer/readme_imgs/Model1_train_acc.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model1_train_loss.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model1_val_acc.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model1_val_loss.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model2_train_acc.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model2_train_loss.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model2_val_acc.png
  recognition/MarkusZuegg_Transformer/readme_imgs/Model2_val_loss.png
  recognition/MarkusZuegg_Transformer/readme_imgs/pre_layer_norm.png
  recognition/MarkusZuegg_Transformer/readme_imgs/vit_architecture.png
Labels: Transformer, Extension

#6 Vision Transformer for Brain MRI Classification (Alzheimers of Normal)
  recognition/adni_vit_46468505/README.md
  recognition/adni_vit_46468505/dataset.py
  recognition/adni_vit_46468505/demo.py
  recognition/adni_vit_46468505/images/Figure_1.png
  recognition/adni_vit_46468505/images/accuracy.png
  recognition/adni_vit_46468505/images/ad_sample.jpeg
  recognition/adni_vit_46468505/images/crop.png
  recognition/adni_vit_46468505/images/generic_tfms.png
  recognition/adni_vit_46468505/images/loss.png
  recognition/adni_vit_46468505/images/nc_sample.jpeg
  recognition/adni_vit_46468505/images/patch.png
  recognition/adni_vit_46468505/images/sample_result.png
  recognition/adni_vit_46468505/modules.py
  recognition/adni_vit_46468505/myenv.txt
  recognition/adni_vit_46468505/predict.py
  recognition/adni_vit_46468505/train.py
Labels: Transformer, Question_attempt

#24 Efficient Sub-Pixel CNN for ADNI dataset
  recognition/SubPixelCNN_4696671/README.md
  recognition/SubPixelCNN_4696671/dataset.py
  recognition/SubPixelCNN_4696671/images/losses10.png
  recognition/SubPixelCNN_4696671/images/model.PNG
  recognition/SubPixelCNN_4696671/images/prediction1.png
  recognition/SubPixelCNN_4696671/images/prediction10.png
  recognition/SubPixelCNN_4696671/images/prediction2.png
  recognition/SubPixelCNN_4696671/images/prediction3.png
  recognition/SubPixelCNN_4696671/images/prediction4.png
  recognition/SubPixelCNN_4696671/images/prediction5.png
  recognition/SubPixelCNN_4696671/images/prediction6.png
  recognition/SubPixelCNN_4696671/images/prediction7.png
  recognition/SubPixelCNN_4696671/images/prediction8.png
  recognition/SubPixelCNN_4696671/images/prediction9.png
  recognition/SubPixelCNN_4696671/images/sample_input.png
  recognition/SubPixelCNN_4696671/modules.py
  recognition/SubPixelCNN_4696671/predict.py
  recognition/SubPixelCNN_4696671/train.py
Labels: Sub-Pixel CNN, Super Resolution, Question_attempt

#33 Topic recognition
  recognition/StyleGAN_OASIS/README.md
  recognition/StyleGAN_OASIS/dataset.py
  recognition/StyleGAN_OASIS/figures/fake_images_sample.png
  recognition/StyleGAN_OASIS/figures/fake_images_sample_supersized.png
  recognition/StyleGAN_OASIS/figures/losses.png
  recognition/StyleGAN_OASIS/figures/losses_discriminator_decomposition.png
  recognition/StyleGAN_OASIS/figures/real_images_sample.png
  recognition/StyleGAN_OASIS/figures/stylegan_architecture.png
  recognition/StyleGAN_OASIS/modules.py
  recognition/StyleGAN_OASIS/predict.py
  recognition/StyleGAN_OASIS/test_driver_predict.py
  recognition/StyleGAN_OASIS/test_driver_train.py
  recognition/StyleGAN_OASIS/train.py
Labels: StyleGAN, Question_attempt

#34 Topic recognition
  recognition/UNet3D_Cipher0x0/README.md
  recognition/UNet3D_Cipher0x0/dataset.py
  recognition/UNet3D_Cipher0x0/modules.py
  recognition/UNet3D_Cipher0x0/predict.py
  recognition/UNet3D_Cipher0x0/train.py
Labels: UNet3D, Question_attempt

#39 Vision Transformer for ADNI dataset - Deren Teo (45285545)
  recognition/adni_vit_45285545/README.md
  recognition/adni_vit_45285545/dataset.py
  recognition/adni_vit_45285545/modules.py
  recognition/adni_vit_45285545/plot_metrics.py
  recognition/adni_vit_45285545/predict.py
  recognition/adni_vit_45285545/static/adni-vit-metrics-1697592651.png
  recognition/adni_vit_45285545/static/gui-prediction-ex1.png
  recognition/adni_vit_45285545/static/gui-prediction-ex2.png
  recognition/adni_vit_45285545/static/gui-prediction-ex3.png
  recognition/adni_vit_45285545/static/gui-prediction-ex4.png
  recognition/adni_vit_45285545/static/vit_model_architecture.png
  recognition/adni_vit_45285545/train.py
Labels: Transformer, Question_attempt

#40 Brain MRI Super-Resolution Network
  recognition/ Super-Resolution_46804158/.DS_Store
  recognition/ Super-Resolution_46804158/Figures/.DS_Store
  recognition/ Super-Resolution_46804158/Figures/Image.png
  recognition/ Super-Resolution_46804158/Figures/Loss.png
  recognition/ Super-Resolution_46804158/Figures/model.PNG
  recognition/ Super-Resolution_46804158/README.md
  recognition/ Super-Resolution_46804158/dataset.py
  recognition/ Super-Resolution_46804158/modules.py
  recognition/ Super-Resolution_46804158/predict.py
  recognition/ Super-Resolution_46804158/train.py
  recognition/.DS_Store
Labels: Sub-Pixel CNN, Super Resolution, Question_attempt

#42 Topic recognition
  recognition/ADNI_TRANSFORMER_47379251/README.md
  recognition/ADNI_TRANSFORMER_47379251/assets/002011_Report.png
  recognition/ADNI_TRANSFORMER_47379251/assets/002012_Accuracy.png
  recognition/ADNI_TRANSFORMER_47379251/assets/091726_Accuracy.png
  recognition/ADNI_TRANSFORMER_47379251/assets/091726_Report.png
  recognition/ADNI_TRANSFORMER_47379251/assets/131558_Report.png
  recognition/ADNI_TRANSFORMER_47379251/assets/131559_Accuracy.png
  recognition/ADNI_TRANSFORMER_47379251/assets/228875_75.jpeg
  recognition/ADNI_TRANSFORMER_47379251/assets/808819_88.jpeg
  recognition/ADNI_TRANSFORMER_47379251/assets/confusion.png
  recognition/ADNI_TRANSFORMER_47379251/assets/image-1.png
  recognition/ADNI_TRANSFORMER_47379251/assets/image-2.png
  recognition/ADNI_TRANSFORMER_47379251/assets/image-3.png
  recognition/ADNI_TRANSFORMER_47379251/assets/image.png
  recognition/ADNI_TRANSFORMER_47379251/assets/imageData.png
  recognition/ADNI_TRANSFORMER_47379251/dataset.py
  recognition/ADNI_TRANSFORMER_47379251/modules.py
  recognition/ADNI_TRANSFORMER_47379251/predict.py
  recognition/ADNI_TRANSFORMER_47379251/train.py
  recognition/ADNI_TRANSFORMER_47379251/util.py
Labels: Transformer, Question_attempt

#51 Alzheimer Detection Using Visual Transfomer Implementation
  recognition/ViT_46425067/Images/TrainValAcc.png
  recognition/ViT_46425067/Images/TrainValLoss.png
  recognition/ViT_46425067/Images/ViT_Architect.png
  recognition/ViT_46425067/Images/Wandb_Sweep.png
  recognition/ViT_46425067/README.MD
  recognition/ViT_46425067/dataset.py
  recognition/ViT_46425067/modules.py
  recognition/ViT_46425067/predict.py
  recognition/ViT_46425067/train.py
  recognition/ViT_46425067/utils.py
Labels: Transformer, Question_attempt

#64 Topic recognition - VQVAE OASIS brain dataset (Sam Suvichagorn s4699389)
  recognition/s4699389-VQVAE/README.md
  recognition/s4699389-VQVAE/dataset.py
  recognition/s4699389-VQVAE/images/1000epochs.png
  recognition/s4699389-VQVAE/images/Average SSIM.png
  recognition/s4699389-VQVAE/images/Loss vs Epoch.png
  recognition/s4699389-VQVAE/images/Model architecture.PNG
  recognition/s4699389-VQVAE/images/loss function.png
  recognition/s4699389-VQVAE/images/test_images/all_image_representations.gif
  recognition/s4699389-VQVAE/images/test_images/image_representation_0.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_1.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_10.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_11.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_12.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_13.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_14.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_15.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_16.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_2.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_3.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_4.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_5.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_6.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_7.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_8.png
  recognition/s4699389-VQVAE/images/test_images/image_representation_9.png
  recognition/s4699389-VQVAE/images/vqvae.png
  recognition/s4699389-VQVAE/modules.py
  recognition/s4699389-VQVAE/parameters.py
  recognition/s4699389-VQVAE/predict.py
  recognition/s4699389-VQVAE/train.py
Labels: VQVAE, Question_attempt

#65 45816967 ADNI Vision Transformer
  recognition/45816967_ADNI_Vision_Transformer/README.md
  recognition/45816967_ADNI_Vision_Transformer/dataset.py
  recognition/45816967_ADNI_Vision_Transformer/driver.py
  recognition/45816967_ADNI_Vision_Transformer/environment.yml
  recognition/45816967_ADNI_Vision_Transformer/figures/vit10_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit10_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit10_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit11_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit11_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit11_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit11_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit14_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit14_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit14_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit14_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_trainacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_trainloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_valacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_valloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit16_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit17_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit17_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit17_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit17_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_trainacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_trainloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_valacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_valloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit18_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_trainacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_trainloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_valacc copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_valloss copy.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit19_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit20_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit20_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit20_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit20_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit21_trainacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit21_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit21_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit21_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit7_trainloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit7_valacc.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit7_valloss.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit_figure.png
  recognition/45816967_ADNI_Vision_Transformer/figures/vit_preds.png
  recognition/45816967_ADNI_Vision_Transformer/modules.py
  recognition/45816967_ADNI_Vision_Transformer/predict.py
  recognition/45816967_ADNI_Vision_Transformer/train.py
Labels: Transformer, Question_attempt

#72 Topic recognition (Siamese ADNI) - s4823870
  recognition/s48238702/README.md
  recognition/s48238702/assets/Siamese-network-for-embedding-the-feature-maps-into-a-constant-vector.png
  recognition/s48238702/assets/chrome_jzp1pDOVfw.png
  recognition/s48238702/assets/data.png
  recognition/s48238702/assets/epochs.png
  recognition/s48238702/assets/explorer_I5UTxEbZvw.png
  recognition/s48238702/assets/siamese_networks.png
  recognition/s48238702/assets/siamese_networks_sisters.png
  recognition/s48238702/assets/tripletloss.png
  recognition/s48238702/dataset.py
  recognition/s48238702/modules.py
  recognition/s48238702/predict.py
  recognition/s48238702/requirements.txt
  recognition/s48238702/result-plot/Figure_1.png
  recognition/s48238702/result-plot/Figure_1_50epocs.png
  recognition/s48238702/train.py
Labels: Siamese, Question_attempt

#76 Topic recognition
  recognition/47423202_ISIC_2017_improved_unet_segmenation/47423202_readme.pdf
  recognition/47423202_ISIC_2017_improved_unet_segmenation/Unet_diagram.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/dataset.py
  recognition/47423202_ISIC_2017_improved_unet_segmenation/modules.py
  recognition/47423202_ISIC_2017_improved_unet_segmenation/predict.py
  recognition/47423202_ISIC_2017_improved_unet_segmenation/predict_cmd_result.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/prediction_images.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/readme.md
  recognition/47423202_ISIC_2017_improved_unet_segmenation/the_loss_plot.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/train.py
  recognition/47423202_ISIC_2017_improved_unet_segmenation/train_cmd.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/train_image.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/train_mask.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/train_valid_out.png
  recognition/47423202_ISIC_2017_improved_unet_segmenation/utils.py
Labels: Improved UNet, Question_attempt

#101 YOLO network for ISCI Dataset - 46408855
  recognition/YOLO_46408855/README.md
  recognition/YOLO_46408855/dataset.py
  recognition/YOLO_46408855/modules.py
  recognition/YOLO_46408855/predict.py
  recognition/YOLO_46408855/train.py
Labels: YOLO, Question_attempt

#118 Topic recognition - Vision Transformer for Alzheimer's Classification, s4532823
  recognition/ViT-ADNI-s4532823/README.md
  recognition/ViT-ADNI-s4532823/assets/Model_architecture_Dosovitskiy.png
  recognition/ViT-ADNI-s4532823/assets/accuracy_plot.png
  recognition/ViT-ADNI-s4532823/assets/loss_plot.png
  recognition/ViT-ADNI-s4532823/assets/predictions.png
  recognition/ViT-ADNI-s4532823/dataset.py
  recognition/ViT-ADNI-s4532823/modules.py
  recognition/ViT-ADNI-s4532823/predict.py
  recognition/ViT-ADNI-s4532823/slurm.sh
  recognition/ViT-ADNI-s4532823/train.py
Labels: Transformer, Question_attempt

#126 ISIC 2017 Improved Unet segmentation, Tord Skajaa Gunnarsli, s4823030
  recognition/Tord_Improved_UNet/README.md
  recognition/Tord_Improved_UNet/dataset.py
  recognition/Tord_Improved_UNet/modules.py
  recognition/Tord_Improved_UNet/pictures/ISIC_0000011.jpg
  recognition/Tord_Improved_UNet/pictures/ISIC_0000011_segmentation.png
  recognition/Tord_Improved_UNet/pictures/Unknown-10.png
  recognition/Tord_Improved_UNet/pictures/Unknown-11.png
  recognition/Tord_Improved_UNet/pictures/Unknown-12.png
  recognition/Tord_Improved_UNet/pictures/Unknown-13.png
  recognition/Tord_Improved_UNet/pictures/Unknown-14.png
  recognition/Tord_Improved_UNet/pictures/Unknown-2.png
  recognition/Tord_Improved_UNet/pictures/Unknown-3.png
  recognition/Tord_Improved_UNet/pictures/Unknown-4.png
  recognition/Tord_Improved_UNet/pictures/Unknown-5.png
  recognition/Tord_Improved_UNet/pictures/Unknown-6.png
  recognition/Tord_Improved_UNet/pictures/Unknown-7.png
  recognition/Tord_Improved_UNet/pictures/Unknown-8.png
  recognition/Tord_Improved_UNet/pictures/Unknown-9.png
  recognition/Tord_Improved_UNet/pictures/Unknown.png
  recognition/Tord_Improved_UNet/pictures/dice_score.png
  recognition/Tord_Improved_UNet/predict.py
  recognition/Tord_Improved_UNet/slurm_script.sh
  recognition/Tord_Improved_UNet/train.py
  recognition/Tord_Improved_UNet/utilities.py
Labels: Improved UNet, Question_attempt

#129 VQVAE Implementation for ADNI Dataset
  recognition/ADNI_VQVAE_47670668/README.md
  recognition/ADNI_VQVAE_47670668/README.pdf
  recognition/ADNI_VQVAE_47670668/assets/generated.png
  recognition/ADNI_VQVAE_47670668/assets/model_architecture.png
  recognition/ADNI_VQVAE_47670668/assets/test_reconstructions.png
  recognition/ADNI_VQVAE_47670668/assets/train_reconstructions.png
  recognition/ADNI_VQVAE_47670668/assets/training_loss_plot.png
  recognition/ADNI_VQVAE_47670668/assets/training_ssim_plot.png
  recognition/ADNI_VQVAE_47670668/dataset.py
  recognition/ADNI_VQVAE_47670668/modules.py
  recognition/ADNI_VQVAE_47670668/predict.py
  recognition/ADNI_VQVAE_47670668/train.py
Labels: VQVAE, Question_attempt

#132 46233002_Siamese_Triplet_Net
  recognition/46233002_Siamese_ADNI/DataPreprocessingExample.png
  recognition/46233002_Siamese_ADNI/EncoderLoss.png
  recognition/46233002_Siamese_ADNI/NetworkStructure.png
  recognition/46233002_Siamese_ADNI/README.md
  recognition/46233002_Siamese_ADNI/dataset.py
  recognition/46233002_Siamese_ADNI/modules.py
  recognition/46233002_Siamese_ADNI/predict.py
  recognition/46233002_Siamese_ADNI/train.py
  recognition/46233002_Siamese_ADNI/utils.py
Labels: Siamese, Question_attempt

#136 Topic recognition - s4764408
  recognition/FacebookGCN_s4764408/Dataset.jpg
  recognition/FacebookGCN_s4764408/LossAndAcc.png
  recognition/FacebookGCN_s4764408/PredictOutput.png
  recognition/FacebookGCN_s4764408/Predictjpg.jpg
  recognition/FacebookGCN_s4764408/TrainPY.png
  recognition/FacebookGCN_s4764408/TrainResult.png
  recognition/FacebookGCN_s4764408/accuracy.png
  recognition/FacebookGCN_s4764408/dataset.py
  recognition/FacebookGCN_s4764408/modules.py
  recognition/FacebookGCN_s4764408/predict.py
  recognition/FacebookGCN_s4764408/readme.md
  recognition/FacebookGCN_s4764408/tSNE.png
  recognition/FacebookGCN_s4764408/train.py
Labels: GCN, Question_attempt

#138 Topic recognition
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/README.md
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/dataset.py
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/modules.py
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/predict.py
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/requirements.txt
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/test_loss.png
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/train.py
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/training_valid_loss.png
  recognition/Siamese Classifier for Alzheimer's disease (s4589541)/utils.py
Labels: Siamese, Question_attempt

#163 47117332_Tong_Qiu_Siamese
  recognition/TongQiu_Siamese/README.md
  recognition/TongQiu_Siamese/dataset.py
  recognition/TongQiu_Siamese/modules.py
  recognition/TongQiu_Siamese/predict.py
  recognition/TongQiu_Siamese/readme_imgs/.DS_Store
  recognition/TongQiu_Siamese/readme_imgs/AD_pred.png
  recognition/TongQiu_Siamese/readme_imgs/SiameseNetwork.png
  recognition/TongQiu_Siamese/readme_imgs/cf_acc.png
  recognition/TongQiu_Siamese/readme_imgs/cf_loss.png
  recognition/TongQiu_Siamese/readme_imgs/cnn_structure.png
  recognition/TongQiu_Siamese/readme_imgs/contrastive.png
  recognition/TongQiu_Siamese/readme_imgs/nc_pred.png
  recognition/TongQiu_Siamese/readme_imgs/siamese_triplet.png
  recognition/TongQiu_Siamese/readme_imgs/tf_acc.png
  recognition/TongQiu_Siamese/readme_imgs/tf_loss.png
  recognition/TongQiu_Siamese/readme_imgs/triplet.png
  recognition/TongQiu_Siamese/readme_imgs/umaps.png
  recognition/TongQiu_Siamese/sh_files/predict_img.sh
  recognition/TongQiu_Siamese/sh_files/test.sh
  recognition/TongQiu_Siamese/sh_files/train_classifier_C.sh
  recognition/TongQiu_Siamese/sh_files/train_classifier_T.sh
  recognition/TongQiu_Siamese/sh_files/train_contrastive.sh
  recognition/TongQiu_Siamese/sh_files/train_triplet.sh
  recognition/TongQiu_Siamese/train.py
  recognition/TongQiu_Siamese/utils.py
Labels: Siamese, Extension, Question_attempt

#177 45711110: OASIS Brain data using StyleGAN2
  recognition/StyleGAN2-OASIS_45711110/README.MD
  recognition/StyleGAN2-OASIS_45711110/assets/1channel_cube.png
  recognition/StyleGAN2-OASIS_45711110/assets/augmented_images.png
  recognition/StyleGAN2-OASIS_45711110/assets/bicubic.png
  recognition/StyleGAN2-OASIS_45711110/assets/bicubic_crop.png
  recognition/StyleGAN2-OASIS_45711110/assets/bilinear.png
  recognition/StyleGAN2-OASIS_45711110/assets/bilinear_crop1.png
  recognition/StyleGAN2-OASIS_45711110/assets/control.png
  recognition/StyleGAN2-OASIS_45711110/assets/disc_loss.png
  recognition/StyleGAN2-OASIS_45711110/assets/disc_loss_1c.png
  recognition/StyleGAN2-OASIS_45711110/assets/discriminator.png
  recognition/StyleGAN2-OASIS_45711110/assets/gan.gif
  recognition/StyleGAN2-OASIS_45711110/assets/gen_loss.png
  recognition/StyleGAN2-OASIS_45711110/assets/gen_loss_1c.png
  recognition/StyleGAN2-OASIS_45711110/assets/generator.png
  recognition/StyleGAN2-OASIS_45711110/assets/gray_e50.png
  recognition/StyleGAN2-OASIS_45711110/assets/gray_vs.png
  recognition/StyleGAN2-OASIS_45711110/assets/inputRes.png
  recognition/StyleGAN2-OASIS_45711110/assets/lr=0.01.png
  recognition/StyleGAN2-OASIS_45711110/assets/manifold.png
  recognition/StyleGAN2-OASIS_45711110/assets/normalized_combined_loss.png
  recognition/StyleGAN2-OASIS_45711110/assets/peak.png
  recognition/StyleGAN2-OASIS_45711110/assets/raw_data.png
  recognition/StyleGAN2-OASIS_45711110/assets/rgb copy.png
  recognition/StyleGAN2-OASIS_45711110/assets/rgb_e50.png
  recognition/StyleGAN2-OASIS_45711110/assets/rgb_vs.png
  recognition/StyleGAN2-OASIS_45711110/assets/standardized.png
  recognition/StyleGAN2-OASIS_45711110/assets/styleGAN2.png
  recognition/StyleGAN2-OASIS_45711110/assets/vs.png
  recognition/StyleGAN2-OASIS_45711110/assets/zw_dim.png
  recognition/StyleGAN2-OASIS_45711110/config.py
  recognition/StyleGAN2-OASIS_45711110/dataset.py
  recognition/StyleGAN2-OASIS_45711110/modules.py
  recognition/StyleGAN2-OASIS_45711110/predict.py
  recognition/StyleGAN2-OASIS_45711110/train.py
  recognition/StyleGAN2-OASIS_45711110/utils.py
Labels: StyleGAN, Extension, Question_attempt
